.page-container{
padding: 30px;
}
.device-count
{
    font-size: 2em;
}
.device-desc
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 11px;
    color: gray;
}
.device-desc li{

}
.device-desc li span{
padding-left: 8px;
}
.device-desc li i{
color: indianred;
width: 13px;
}
.card-header,.card-title,.btn
{
    font-size: 12px;
}