.loader
{
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a1a0a0b8;
}
.loader i{
    position: fixed;
    margin: auto;
    left: 50%;
    top: 50%;
}