:root{
  --theme-color:#467fcf!important;
  --font-color:white !important;
  --left-menu-lg-margin:236px;
  --left-menu-sm-margin:54px;
}
.header-color
{
  background-color: var(--theme-color) !important;
  color: var(--font-color) !important;
}
.breadcrumb
{
  padding: 10px 10px 0px 16px;
}

.header-bg{
  background-color: var(--theme-color);
  color:var(--font-color);
  margin-bottom: 0px !important;
}

.header-bg a{
  color:var(--font-color);
}
.header-bg li a:hover
{
  background-color: var(--theme-color);
}
.form-control
{
  padding: 5px 9px;
    font-size: 13px;
    font-weight: lighter;
}
.view-container-small
{
  margin-left: var(--left-menu-sm-margin) !important;
  width: calc(100% - var(--left-menu-sm-margin)) !important;
  transition: width .7s,margin-left .7s;
}
.view-container
{
    margin-left: var(--left-menu-lg-margin);
    height: calc(100% - 58px);
    display: block;
    position: absolute;
    width: calc(100% - var(--left-menu-lg-margin));
    overflow-y: auto;
    transition: width .7s,margin-left .7s;
}

.breadcrumb li a{
  text-decoration: none;
}

.breadcrumb
{
  font-size: 12px;
}
label{
  font-size: 13px !important;
}

.img-icon
{
  width: 30px;
}
.form-text
{
  font-size: 10px;
}
.copy-key
{
  font-size: 10px;
    color: gray;
}
.table th,td{
  font-size: 13px;
    font-weight: 500;
}
.table th{
  color:#467fcf;
}

.id-copy
{
  margin-left: 10px;
  cursor:pointer;

}
.id-copy:hover
{
  color: #467fcf;
}

::-webkit-scrollbar {
  width: 10px;
}

.badge-small
{
  font-size: 10px !important;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bs-primary-rgb),1)!important;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}