.left-menu
{
    border-radius: 0;
    position: absolute;
    z-index: 1000;
    top: 58px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    margin-bottom: 48px;
    border: none;
    overflow-y: hidden;
    background-color: #fff;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    white-space: nowrap;
    transition: all .2s ease-in-out;  
    padding-left:0;    
    transition: overflow-y .7s,width .7s;  
}
.left-menu:hover{   
    overflow-y: auto;
}
.left-menu a{
    text-decoration:none;
}
.left-menu span{
    display:inline;
    transition: display .7s;
}
.left-menu-small span{
    display:none;
    transition: display .7s;
}
.left-menu .item{
    background: #fff;
    line-height: 30px;
    border: 1px solid rgba(0,40,100,.12);
    border-radius: 0;
    color: #495057;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 1rem;
    margin-bottom: -1px;
    transition: background-color .7s;
    background-color: #fff;    
    transition: width .7s, background .7s;
}
.left-menu-small
{
    width: 54px !important;
    transition: width .7s;
}
.left-menu .item:hover{
    background: rgb(57, 108, 247);
}
.selected{
     background: rgb(57, 108, 247) !important;
}
.toggle-button-small{
    width: 54px !important;      
    transition: width .7s;
}
.toggle-button {      
    transition: width .7s;
    position: fixed;
    width: 236px;
    cursor: pointer;
    padding: 12px;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #999;
    transition: all .2s ease-in-out;
}